<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Safety car - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/icofont/icofont.min.css}" href="../static/assets/vendor/icofont/icofont.min.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
          href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/venobox/venobox.css}" href="../static/assets/vendor/venobox/venobox.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->`
    <!--  <link href="../static/assets/css/style.css" rel="stylesheet">-->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo"><a th:href="@{/}" href="index.html">Safety car</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/calculator}" href="calculator.html">Calculator</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" href="login.html">Log in</a>
                </li>
                <li class="active" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user-profile}" href="user-profile.html">Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/agent}">Agent Portal</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Sign up</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <div>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="header-social-links">
            <a href="https://twitter.com" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://facebook.com" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://instagram.com" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://linkedin.com" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>

    </div>

</header><!-- End Header -->

<main id="main">
    <section id="contact" class="container-fluid d-flex justify-content-between align-items-center">
        <div class="container">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>REQUEST POLICY</h2>
                    <p>
                        <i th:if="${param.error}" class="error"></i>
                    </p>
                    <form th:action="@{/agent}" th:object="${requestDTO}" method="post">
                        <div class="input-group mb-3 col-sm-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Search By Email:</span>
                            </div>
                            <input th:field="*{username}" type="text" class="form-control" placeholder="Enter email"
                                   aria-describedby="basic-addon1">
                            <button type="submit" class="btn btn-warning">Search</button>

                            <div class="col-sm-3">
                                <form method="post">
                                    <a th:href="@{/agent/sortByDate}" href="agent.html" class="btn btn-primary">Sort By
                                        Date</a>
                                </form>
                            </div>
                        </div>
                        <label class="error" th:text="${errorMessage}"></label>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div th:each="request : ${requests}">
                <div class="col-auto mb-3">
                    <h2><span>Request No: </span>
                        <span th:text="${request.id}"></span></h2>
                    <h2><a th:href="@{/agent/__${request.id}__}" class="btn btn-primary"
                           href="/agent"><span>Details</span></a></h2>

                    <span>Start policy: </span>
                    <span type="text" th:text="*{request.startPolicy}"></span>
                    <br>
                    <span>Email: </span>
                    <span type="date" th:text="*{request.email}"></span>
                    <br>
                    <span>Phone: </span>
                    <span type="date" th:text="*{request.phone}"></span>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>


<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}" src="../static/assets/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"
        src="../static/assets/vendor/php-email-form/validate.js"></script>
<script th:src="@{/assets/vendor/waypoints/jquery.waypoints.min.js}"
        src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script th:src="@{/assets/vendor/counterup/counterup.min.js}"
        src="../static/assets/vendor/counterup/counterup.min.js"></script>
<script th:src="@{/assets/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/assets/vendor/venobox/venobox.min.js}" src="../static/assets/vendor/venobox/venobox.min.js"></script>
<script th:src="@{/assets/vendor/aos/aos.js}" src="../static/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>

</body>
</html>