<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <title>Quote calculator</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/icofont/icofont.min.css}" href="../static/assets/vendor/icofont/icofont.min.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
          href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/venobox/venobox.css}" href="../static/assets/vendor/venobox/venobox.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">


</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo"><a th:href="@{/}" href="index.html">Safety car</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/calculator}" href="calculator.html">Calculator</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" href="login.html">Log in</a>
                </li>
                <li class="active" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user-profile}" href="user-profile.html">Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/agent}">Agent Portal</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Sign up</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <div>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="header-social-links">
            <a href="https://twitter.com" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://facebook.com" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://instagram.com" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://linkedin.com" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>

    </div>

</header><!-- End Header -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="section-title">
        <p>
            <i th:if="${param.error}" class="error"> All fields need to be filled in. </i>
        </p>
        <br>
        <h4>Calculator</h4>
        <br>
        <form th:object="${initialRequestDTO}" method="post">
            <div class="row text-center">

                <!-- car makes dropdown menu -->
                <div class="col-lg-6" method="post">
                    <div class="calculator-menu">
                        <div>
                            <label th:text="#{cars.makes}">Make</label>
                            <br>
                            <select id="make-menu" th:field="*{makeId}">
                                <option value="0">Car Make</option>
                                <option th:each="make : ${makes}"
                                        th:value="${make.getId()}"
                                        th:text="${make.getMakeName()}">CarMakeOne
                                </option>
                            </select>
                            <!--                                                    </div>-->
                            <label class="error" th:errors="${initialRequestDTO.makeId}"></label>
                            <br>
                        </div>
                    </div>
                    <br>

                    <!-- car models dropdown menu -->
                    <div class="calculator-menu">
                        <div>
                            <label th:text="#{cars.models}">Model</label>
                            <br>
                            <div>
                                <select id="model-menu" th:field="*{modelId}">
                                    <script th:inline="javascript" type="text/javascript">
                                        $(document).ready(function () {
                                            $('#make-menu').change(
                                                function () {
                                                    const makeId = $(this).val();
                                                    const url = "http://localhost:8080/api/models/make/" + makeId;
                                                    $.getJSON(url, {
                                                        ajax: 'true'
                                                    }, function (data) {
                                                        let html = '<option value="">Model</option>';
                                                        debugger
                                                        const len = data.length;
                                                        for (let i = 0; i < len; i++) {
                                                            html += '<option value="' + data[i].id + '">'
                                                                + data[i].modelName + '</option>';
                                                        }

                                                        $('#model-menu').html(html);
                                                        debugger
                                                        $("#model-menu").trigger('contentChanged');
                                                        debugger
                                                    });
                                                });
                                            $("#make-menu").trigger('change');
                                        });
                                    </script>
                                </select>
                                <label class="error" th:errors="${initialRequestDTO.modelId}"></label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <label>Year of first registration:</label>

                    <!-- date validation -->
                    <script th:inline="javascript" type="text/javascript">
                        $(function () {
                            let currentDate = new Date();
                            let month = currentDate.getMonth() + 1;
                            let day = currentDate.getDate();
                            let year = currentDate.getFullYear();
                            if (month < 10) {
                                month = '0' + month.toString();
                            }
                            if (day < 10) {
                                day = '0' + day.toString();
                            }
                            let maxDate = year + '-' + month + '-' + day;
                            $('#yearOfRegistration').attr('max', maxDate);
                        });
                    </script>
                    <br>
                    <input type="date" max="${currentDate}" id="yearOfRegistration"
                           name="yearOfRegistration"/>
                    <label class="error" th:errors="${initialRequestDTO.yearOfRegistration}"></label>
                </div>
                <br><br>
                <div class="col-lg-6" method="post">
                    <label>Cubic capacity:</label>
                    <br>
                    <input type="number" id="cubicCapacity" th:field="${initialRequestDTO.cubicCapacity}"
                           name="cubicCapacity"/>
                    <label class="error" th:errors="${initialRequestDTO.cubicCapacity}"></label>
                    <br><br>
                    <label>Driver's age:</label>
                    <br>
                    <input type="number" id="age" th:field="${initialRequestDTO.age}" name="age"/>
                    <label class="error" th:errors="${initialRequestDTO.age}"></label>
                    <br><br>
                    <label>Accidents in previous year:</label>
                    <input type="checkbox" id="accidents" name="hadAccidents">
                    <br><br>
                </div>
            </div>
            <div class="mb-3">
                <div th:if="${initialRequestDTO.getPremiumView() == null}" class="text-center">
                    <button class="btn btn-primary" type="submit">Get quote</button>
                </div>
            </div>
        </form>

        <div th:if="${initialRequestDTO.getPremiumView() != null}">
            <label>Quote: </label>
            <span th:if="${initialRequestDTO.getPremiumView() == null}" th:text="#{quote.notCalculated}"></span>
            <span th:if="${initialRequestDTO.getPremiumView() != null}" th:text="${initialRequestDTO.getPremiumView()}">0.00 lv.</span>
        </div>
        <br>
        <div th:if="${initialRequestDTO.getPremiumView() != null}">
            <a class="btn btn-primary" th:href="@{/request}" href="/request">Send request </a>
        </div>
    </div>
</section><!-- End Contact Section -->

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}" src="../static/assets/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"
        src="../static/assets/vendor/php-email-form/validate.js"></script>
<script th:src="@{/assets/vendor/waypoints/jquery.waypoints.min.js}"
        src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script th:src="@{/assets/vendor/counterup/counterup.min.js}"
        src="../static/assets/vendor/counterup/counterup.min.js"></script>
<script th:src="@{/assets/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/assets/vendor/venobox/venobox.min.js}" src="../static/assets/vendor/venobox/venobox.min.js"></script>
<script th:src="@{/assets/vendor/aos/aos.js}" src="../static/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>

</body>
</html>
