<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>Safety car - Resume</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/icofont/icofont.min.css}" href="../static/assets/vendor/icofont/icofont.min.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/owl.carousel/assets/owl.carousel.min.css}"
          href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
          href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/venobox/venobox.css}" href="../static/assets/vendor/venobox/venobox.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->`
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo"><a th:href="@{/}" href="index.html">Safety car</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a th:href="@{/}" href="index.html">Home</a></li>
                <li><a th:href="@{/calculator}" href="calculator.html">Calculator</a></li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" href="login.html">Log in</a>
                </li>
                <li class="active" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user-profile}" href="user-profile.html">Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/agent}">Agent Portal</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Sign up</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <div>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="header-social-links">
            <a href="https://twitter.com" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://facebook.com" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://instagram.com" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://linkedin.com" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>
    </div>
</header><!-- End Header -->

<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>
                    <i th:if="${param.error}" class="error"> All fields need to be filled in. </i>
                </p>
                <h2>Request Policy</h2>
                <form method="post" enctype="multipart/form-data" th:object="${initialRequestDTO}"
                      th:action="@{/request}">
                    <div class="row">
                        <div class="col-lg-6">

                            <span>Car Make: </span>
                            <span type="text" th:text="${make}"></span>
                            <br><br><br>

                            <span>Car Model: </span>
                            <span type="text" th:text="${model}"></span>
                            <br><br><br>

                            <span>Cubic capacity: </span>
                            <span type="text" th:text="*{cubicCapacity}"></span>
                            <br><br><br>

                            <span>First registration date: </span>
                            <span type="text" th:text="*{yearOfRegistration}"></span>
                            <br><br><br>

                            <span>Driver's age: </span>
                            <span type="text" th:text="*{age}"></span>
                            <br><br><br>

                            <span>Accidents in previous year: </span>
                            <span th:if="*{hadAccidents == true}" th:text="#{cars.yes}"></span>

                            <span th:unless="*{hadAccidents == true}" th:text="#{cars.no}"></span>
                            <br><br><br>

                            <span>Total premium: </span>
                            <span><label type="text" th:text="*{premiumView}">0.0 lv.</label></span>
                            <br><br><br>
                        </div>

                        <div class="col-lg-6" th:object="${requestDTO}" method="post">

                            <script th:inline="javascript" type="text/javascript">
                                $(function () {
                                    let currentDate = new Date();
                                    let month = currentDate.getMonth() + 1;
                                    let day = currentDate.getDate();
                                    let year = currentDate.getFullYear();
                                    if (month < 10) {
                                        month = '0' + month.toString();
                                    }
                                    if (day < 10) {
                                        day = '0' + day.toString();
                                    }
                                    let maxDate = year + '-' + month + '-' + day;
                                    $('#startPolicy').attr('min', maxDate);
                                });
                            </script>
                            <input type="date" th:field="*{startPolicy}" placeholder="Start date"/>
                            <label class="error" th:errors="*{startPolicy}"></label>

                            <br><br>

                            <br>
                            <label class="error" th:errors="*{carPicture}"></label>
                            <input required type="file" th:field="*{carPicture}"
                                   placeholder="Attach image"/>
                            <label class="error" th:errors="*{carPicture}"></label>
                            <br><br/>

                            <br/>
                            <input type="text" th:field="*{name}" placeholder="Full name"/>
                            <label class="error" th:errors="*{name}"></label>
                            <br><br/>

                            <br/>
                            <input type="email" th:field="*{email}" placeholder="Email"/>
                            <label class="error" th:errors="*{email}"></label>
                            <br><br/>

                            <br/>
                            <input type="text" th:field="*{phone}" placeholder="Phone"/>
                            <label class="error" th:errors="*{phone}"></label>
                            <br/><br/>

                            <br/>
                            <input type="text" th:field="*{address}" placeholder="Postal Address"/>
                            <label class="error" th:errors="*{address}"></label>
                            <br/><br/>

                            <button type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section><!-- End Resume Section -->
</main><!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}" src="../static/assets/vendor/jquery/jquery.min.js"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/vendor/jquery.easing/jquery.easing.min.js}"
        src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"
        src="../static/assets/vendor/php-email-form/validate.js"></script>
<script th:src="@{/assets/vendor/waypoints/jquery.waypoints.min.js}"
        src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script th:src="@{/assets/vendor/counterup/counterup.min.js}"
        src="../static/assets/vendor/counterup/counterup.min.js"></script>
<script th:src="@{/assets/vendor/owl.carousel/owl.carousel.min.js}"
        src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/assets/vendor/venobox/venobox.min.js}"
        src="../static/assets/vendor/venobox/venobox.min.js"></script>
<script th:src="@{/assets/vendor/aos/aos.js}" src="../static/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>
</body>
</html>