<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
</head>
<body>
<h3 th:text = "${title}">Title</h3>
<p><a th:href="${link}">Click Here</a></p>
</body>
</html>