h2 {
    border-bottom: 1px solid black;
}

#beer_results {
    display: grid;
    grid-template-columns: 25%;
}

#beer_results > div {
    padding: 15px;
    margin: 15px;

    border: 1px solid pink;
}

#beer_results > div > .actions_container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#beer_results > div > .actions_container > button {
    padding: 7px 7px;
    border: 1px solid lightgray;
}

#beer_results > div > .actions_container > .wish:hover {
    background-color: palevioletred;
    color: wheat;
    cursor: pointer;
}

#beer_results > div > .actions_container > .drunk:hover {
    background-color: yellowgreen;
    color: wheat;
    cursor: pointer;
}

.beer_card > h3 {
    padding-top: 7px;
    margin: 7px 0;
}

.beer_card > h4 {
    font-weight: 100;
    font-style: italic;
}

.beer_card > h5 {
    font-weight: 100;
    font-style: italic;
}

#beer_results > div > p {
    padding-top: 20px;
    font-size: small;
    font-style: italic;
}

.picture {
    padding-top: 5px;
    padding-right: 50px;
    display: inline;
    float: right;
}
